@model CVeator.Web.ViewModels.CVPreview
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CVeator</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap.min")
    </head>
<body class="container body-content">
    <div class="row">
        <div class="col-4">
            <div>
                <h2 class="text-uppercase"><strong>@Model.CV.FirstName @Model.CV.LastName </strong></h2>
                <h6 class="text-capitalize">@Model.CV.Country</h6>
                <h6>@Model.CV.Email</h6>
                <h6>@Model.CV.PhoneNumber</h6>
                <h6 class="text-capitalize">@Model.CV.City</h6>
                <h6 class="text-capitalize">@Model.CV.Address</h6>
                <hr />
            </div>
            <div>
                <h4 class="mt-2"><strong>Skills</strong></h4>
                @if (Model.CV.Skills != null && Model.CV.Skills.Count > 0)
                {
                    foreach (var skill in Model.CV.Skills)
                    {
                        <h5 class="text-uppercase">@skill.SkillName</h5>
                        <div>@skill.level</div>
                    }
                }
                <hr />
            </div>
            <div>
                <h4 class="mt-5"><strong>Languages</strong></h4>
            </div>
            <div>
                <h4 class="mt-5"><strong>Hobbies</strong></h4>
            </div>
        </div>

        <div class="col-8">
            <div>
                <h4><strong>Professional Summery</strong></h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                </p>
                    @if (Model.CV.Summeries != null && Model.CV.Summeries.Count > 0)
                    {
                        foreach (var sum in Model.CV.Summeries)
                        {
                            @Html.Raw(HttpUtility.HtmlDecode(sum.ProfessionalSummery))
                        }
                    }
                    <hr />
            </div>
            <div>
                <h3 class="mt-2"><strong>Empoloyment History</strong></h3>
                @if (Model.CV.Experiences != null && Model.CV.Experiences.Count > 0)
                {
                    foreach (var exp in Model.CV.Experiences)
                    {
                        <h4 class="text-capitalize">@exp.Employer</h4>
                        <div>@exp.JobTitle</div>
                        <div>@exp.State</div>
                        <div>@exp.StartTime</div>
                        <div>@exp.EndTime</div>

                    }
                }
                <hr />
            </div>
            <div>
                <h3 class="mt-2"><strong>Education</strong></h3>
                @if (Model.CV.Educations != null && Model.CV.Educations.Count > 0)
                {
                    foreach (var edu in Model.CV.Educations)
                    {
                        <h5 class="text-uppercase">@edu.SchoolName</h5>
                        <div>@edu.Degree</div>
                        <div>@edu.FielOfStudy</div>
                        <div>@edu.City</div>
                        <div>@edu.State</div>
                    }
                }
                <hr />
            </div>
            <div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    an unknown printer took a galley of type and scrambled it to make a type specim
                    en book. It has survived not only five centuries, but also the leap into
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s w
                    ith the release of Letraset sheets containing Lorem Ipsum passages, and more rec
                    ently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>


    </div>
    @Html.ActionLink("PDF", "htmltopdf", "CVsView", new { name = Model.CV.FirstName, id = Model.CV.ID }, null)
</body>
</html>

    <script>
        $(document).ready(function () {
            $('#download_pdf').click(function () {
                var pdf = new jsPDF('p', 'pt', 'a4')
                    , source = $('#DivIdToPrint')[0]
                    , specialElementHandlers = {
                        '#bypassme': function (element, renderer) {
                            return true
                        }
                    }
                margins = {
                    top: 60,
                    bottom: 60,
                    left: 40,
                    width: 522
                };
                pdf.fromHTML(
                    source
                    , margins.left
                    , margins.top
                    , {
                        'width': margins.width
                        , 'elementHandlers': specialElementHandlers
                    },
                    function (dispose) {
                        pdf.save('download_pdf.pdf');
                    },
                    margins
                )
            });
        });
    </script>
